/* Contact Section */
#contact-section {
    padding: 4em 0;
    background: black
  }
  
  #contact-section .heading-section {
    margin-bottom: 3em;
  }
  
  #contact-section .heading-section h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
  }
  
  #contact-section .underline {
    width: 100px;
    height: 4px;
    background: #e9c46a;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  
  .contact-info {
    color: #ffffff;
  }
  
  .contact-info .info-box {
    margin-bottom: 20px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
  }
  
  .contact-info .info-box i {
    font-size: 1.5em;
    margin-right: 15px;
  }
  
  .contact-info .info-box a {
    color: #e9c46a;
    text-decoration: none;
  }
  
  .contact-form .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
  }
  
  .contact-form .btn {
    background: #264653;
    border: none;
    color: #ffffff;
  }
  
  .contact-form .btn:hover {
    background: #2a9d8f;
  }
  
  
  
  /* Education Section */
  #education-section {
    padding: 4em 0;
    background: black
  }
  
  #education-section .heading-section {
    margin-bottom: 3em;
  }
  
  #education-section .heading-section h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
  }
  
  #education-section .underline {
    width: 1000px;
    height: 4px;
    background: #e9c46a;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  
  .verticalline {
  width : 10px;
  height : 100px;
  background: #e9c46a;
  margin: 0 auto;
  }
  
  .education-wrap {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    z-index: 2;
  }
  
  .education-wrap .row {
    align-items: center;
  }
  
  .education-wrap .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .education-wrap .date {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2a9d8f;
  }
  
  .education-wrap h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #264653;
  }
  
  .education-wrap .institution {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2a9d8f;
  }
  
  .education-wrap p {
    font-size: 16px;
    line-height: 1.6;
    color: #2b3d4f;
  }
  
  .education-wrap img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Styling for the project section */
  .projects-section {
            padding: 4em 0;
            background: black;
        }
  
        .projects-section .heading-section {
            margin-bottom: 3em;
        }
  
        .projects-section .heading-section h2 {
            font-size: 2.5em;
            font-weight: bold;
            color: #94a4b5;
        }
  
        .project-card {
          background-color: aliceblue;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 400px; 
        }
  
        .project-card:hover {            
            background-color:  #e9c46a;
        }
  
        .project-card img {
            max-width: 100%;
            max-height: 250px; 
            object-fit: contain;
            margin-bottom: 20px;
        }
  
        .project-card .card-body {
            padding: 1px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
  
        .project-card .card-title {
            font-size: 20px;
            font-weight: bold;
            color: black;
            margin-bottom: 10px;
        }
  
        .project-card .card-text {
            font-size: 1.1em;
            color:6c757d;
        }
  .resume-wrap .date {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  .resume-wrap {
  background-color: black;
  }
  
  .resume-wrap h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .resume-wrap .position {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .resume-wrap p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .resume-wrap ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .resume-wrap ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .resume-wrap img {
    max-width: 100%;
    height: auto;
    float: right;
    max-height: 100px;
    margin-bottom: 10px;
  }
  
  
  /*Card Styles */ 
  
  .card {
    border-radius: 20px; 
    transition: box-shadow 0.3s ease; 
  width: 300px;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(231, 136, 11, 0.1); 
  }
  
  .card-img-top {
    max-height: 150px;
    object-fit: contain;
    padding: 20px; 
  }
  
  .card-body {
    padding: 2px; 
  }
  
  .card-title {
  color: black;
    font-size: 1.25rem;
    font-weight: bold; 
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .company-image{
  margin-top: 10px;
  width: 60%;
  }
  
  .about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
  margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
  margin-left: 100px;
  size : 40px;
  }
  .about-img img {
    width: 400%;
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin: 4 auto; 
  border-radius: 50%;
  }
  
  .about-text {
  color: whitesmoke;
  font-size: larger;
  }
  
  
  
  .skill-mf .progress {
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #39ceff;
  }
  
  #typing-animation {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20, end) infinite;
  }
  
  #typing-animation:before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ccc;
  animation: typing-cursor 0.5s ease-in-out infinite;
  }
  
  @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
  }
  
  @keyframes typing-cursor {
  from {
    width: 5px;
  }
  to {
    width: 0;
  }
  }
  
  
/* project image zoom effect */
  
  .zoom-effect {
  overflow: hidden;
  transition: transform 0.3s ease-out;
  }
  
  .zoom-effect:hover {
  transform: scale(1.1);
  }
  .contact-logo {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;            
  }
  
  .contact-logo img {
    max-width: 100%;  
    max-height: fit-content; 
    height: 300px;           
    width: 80%;              
    
  }
  
  
  